<app-header></app-header>
 <!-- PAGE TITLE SECTION-->
    <section class="pageTitleSection">
      <div class="container">
        <div class="pageTitleInfo">
          <h2>Term Dates</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Term Dates</li>
          </ol>
        </div>
      </div>
    </section>
 <section class="product-review clearfix">
      <div class="container">
        
        <div class="tabCommon">
          

          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <div class="media" align="center">
                <h3>Term Dates</h3>
               <p>Year 2016 – 2017</p>

                <p>Monday 5 September 2016 – Friday 21 October 2016</p>
                <p>Tuesday 1 November 2016 – Tuesday 20 December 2016</p>
                <p>Wednesday 4 January 2017 – Friday 10 February 2017</p>
                <p>Monday 20 February 2017 – Friday 31 March 2017</p>
                <p>Tuesday 18 April 2017 – Friday 26 May 2017 (closed Bank Holiday Monday 1 May 2017)</p>
                <p>Monday 5 June 2017 – Wednesday 19 July 2017</p>
                
                
              </div>
            </div>
            
          </div>
        </div>
          
      </div>
    </section>
<app-footer></app-footer>