<div class="main-wrapper">
     <!-- HEADER -->
    <div id="pageTop" class="header-wrapper">
      <!-- COLOR BAR -->
      <div class="container-fluid color-bar top-fixed clearfix">
        <div class="row">
          <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
          <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
        </div>
      </div>

      <!-- TOP INFO BAR -->
      <div class="top-info-bar bg-color-7 hidden-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-20">
              <ul class="list-inline topList">
                <li><i class="fa fa-envelope bg-color-1" aria-hidden="true"></i> <a href="mailto:{{email}">{{email}}</a></li>
                <li><i class="fa fa-phone bg-color-2" aria-hidden="true"></i>{{phone}}</li>
                <li><i class="fa fa-map-marker bg-color-6" aria-hidden="true"></i>{{address2}}, {{address3}}, {{town}}. {{postcode}}</li>
                <li><a href="https://www.facebook.com/BarrowbyPreschool/?fref=ts"><i class="fa fa-facebook bg-color-4" aria-hidden="true"></i></a> facebook</li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>


      <!-- NAVBAR -->
      <div id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo-school.png" alt="Barrowby Pre-School"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active dropdown singleDrop color-1">
                <a href="index.html">
                  <i class="fa fa-home bg-color-1" aria-hidden="true" ></i> <span>Home </span>
                </a>
              </li>
              <li class="active dropdown singleDrop color-1">
                <a routerLink="/about-us" routerLinkActive="active">
                  <i class="fa  fa-institution bg-color-2" aria-hidden="true"></i> <span>About Us</span>
                </a>
              </li>
              <li class="active dropdown singleDrop color-1">
                <a routerLink="/term-dates" routerLinkActive="active">
                  <i class="fa fa-calendar bg-color-3" aria-hidden="true"></i> <span>Term Dates</span>
                </a>
              </li>
             
              <li class="active dropdown singleDrop color-1">
                <a routerLink="/testimonals" routerLinkActive="active">
                  <i class="fa fa-check bg-color-4" aria-hidden="true"></i> <span>Testimonial</span>
                </a>
              </li>
              <li class="active dropdown singleDrop color-1">
                <a routerLink="/meet-us" routerLinkActive="active">
                  <i class="fa fa-users bg-color-5" aria-hidden="true"></i> <span>Meet Us</span>
                </a>
              </li>
              <li class="active dropdown singleDrop color-1">
                <a href="https://barrowbypreschool.wordpress.com/" >
                  <i class="fa fa-pencil bg-color-6" aria-hidden="true"></i> <span>Blog</span>
                </a>
              </li>
               <li class="active dropdown singleDrop color-1">
                <a routerLink="/contact-us" routerLinkActive="active">
                  <i class="fa  fa-phone bg-color-7" aria-hidden="true"></i> <span>Contact Us</span>
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
 