<div class="footerInfoArea full-width clearfix container bg-color-7">

    <div class="container">
          <div class="row">
                    
                    <div class="col-md-6 col-sm-6 margin1000">
                        <div class="footer-col">
                            <h3 style="color:white">Contact</h3>

                            <ul class="list-unstyled contact">
                                <li><p style="color:white"><i class="fa fa-map-marker"></i> Address:<br> {{address1}}<br>{{address2}}<br>{{address3}}<br>{{town}}<br>{{county}}<br>{{postcode}}</p><br></li> 
                                <li><p style="color:white"><strong><i class="fa fa-envelope" style="color:white"></i> Mail Us: </strong><a href="mailto:{{email}}">{{email}}</a></p><br></li>
                                <li><p style="color:white"><strong><i class="fa fa-phone" style="color:white"></i> Phone: </strong>{{phone}}</p></li>

                            </ul>
                        </div>                        
                    </div><!--footer col-->
                    <div class="col-md-4 col-sm-4 margin30">
                        <div class="footer-col">
                            <h3 style="color:white">Find Us</h3>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2406.003910707881!2d-0.6932222842771888!3d52.91235707989032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48783181a078bcef%3A0xd28fd83b73620c98!2sBarrowby+Preschool!5e0!3m2!1sen!2suk!4v1481054000519" width="500" height="300" frameborder="0" style="border:0" align="center" allowfullscreen></iframe>
                         </div>                        
                    </div><!--footer col-->
                   

                </div>


                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-btm">
                            <span style="color:white"><br><br>&copy;2017 Barrowby Preschool

                                <br>
                                <a style="color:white" href="http://www.codeswift.co.uk">Site Build By CodeSwift</a>
                            </span>
                            
                        </div>
                    </div>
                </div>
               
            </div>
         

</div> 
      <!-- COLOR BAR -->
      <div class="container-fluid color-bar  clearfix">
        <div class="row">
          <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
          <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
        </div>
      </div>