<app-header></app-header>
  <!-- PAGE TITLE SECTION-->
    <section class="pageTitleSection">
      <div class="container">
        <div class="pageTitleInfo">
          <h2>Contact Us</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Contact Us</li>
          </ol>
        </div>
      </div>
    </section>

    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix conactSection">
      <div class="container">
       <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="media addressContent">
              <span class="media-left bg-color-1" href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="media-heading">Address:</h3>
                <p>Barrowby Sports Pavillion,Low Road,Barrowby,NG32 1DL</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="media addressContent">
              <span class="media-left bg-color-2" href="#">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="media-heading">Phone:</h3>
                <p>07415 450311</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="media addressContent">
              <span class="media-left bg-color-3" href="#">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </span>
              <div class="media-body">
                <h3 class="media-heading">Email:</h3>
                <p><a href="mailto:barrowbypreschool@yahoo.co.uk">barrowbypreschool@yahoo.co.uk</a> 
                 
                </p>
              </div>
            </div>
          </div>
        </div>
       
       
        
      </div>
    </section>
<app-footer></app-footer>