<app-header></app-header>

   <!-- PAGE TITLE SECTION-->
    <section class="pageTitleSection">
      <div class="container">
        <div class="pageTitleInfo">
          <h2>About us</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">About us</li>
          </ol>
        </div>
      </div>
    </section>
 <section class="product-review clearfix">
      <div class="container">
        
        <div class="tabCommon">
          

          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <div class="media">
                <h3>About Our Pre-School</h3>
                <p>Barrowby Preschool is a Parent Committee run preschool, providing high quality care and learning experiences for children aged two years to school age, in Barrowby, Grantham and the surrounding area.</p>

<p>We aim to give your child the opportunity to learn through play in a safe, caring and stimulating environment, whilst enjoying the company of other children and adults.
We appreciate that all children are individuals and aim to provide learning experiences catered to your child’s individual needs. This enables every child to develop at their own pace and grow in self-confidence by choosing from a wide range of activities. At the end of their time with us, children will be independent and able to move on happily to school.</p>

<p>When your child starts at Barrowby Preschool you will be allocated a Keyworker. Your child’s keyworker will work closely with your child, forming a special bond and helping them to settle in well. Your keyworkers role is to observe your child develop, plan engaging activities based on their needs and interests and assess how their learning is progressing.</p>

<p>To do this we follow The Early Years Foundation Stage (EYFS). The EYFS is split into seven areas of learning, divided into prime and specific areas. The three prime areas are: Personal, Social and Emotional Development, Communication & Language and Physical Development. Prime areas are fundamental, work together and are needed to support learning in all other areas. The specific areas include: Literacy, Mathematics, Understanding the World and Expressive Arts and Design. These areas include essential skills and knowledge.</p>

<p>We are open during term time and follow the same terms as Barrowby Primary school.
Our sessions run 9-12 every day. We also run lunch club 12-1 and currently this is on Tuesday and Thursday. Each session costs £11 and lunch club is £3.50.</p>

<p>The term after your child’s 3rd birthday, they are eligible for funding for 15 hours each week.</p>

<p>Barrowby Preschool has 4 permanent members of staff, and 4 relief staff. We can have up to 28 children in our care.</p>

<p>Jessica Armstrong – Preschool Manager – BA (Hons) Primary Education
Marj Spendlow – Deputy Manager – NVQ Level 4 – Childcare & Education
Robbyn (Bobs) Smith – Key Worker – BA Early Childhood Studies
Jenny Wright – Keyworker (Fridays) – NVQ Level 3 – Childcare & Development
Relief Staff: Mary-Jane, Sue, Alice & Jenny</p>

<p>What to bring
Please ensure your child has:-
A spare change of clothes with them in case of little accidents.
Slippers or indoor shoes
Suitable outside clothing e.g. Sun hats, welly boots, woolly hat etc.</p>

<p>If your child wants to bring their comforter they can bring it in but will be encouraged to leave it in their tray where it is safe.</p>

<p>A session at Preschool</p>

<p>When you arrive help your child find their tag on the board, place it on a hook with all their belongings. Help them get their slippers on and you’re ready to go!</p>

<p>9am – Doors open.
Make your way into Preschool. Your child can find their name label and stick it on a tray. You may find some letters or artwork in here later. The children can find their friends and choose where they would like to play. If you have any messages for the Preschool staff please inform the staff member at the door, or Jess the manager.</p>

<p>9.15 am – Welcome time.
The children greet each other with our Hello song. We look at the calendar, count all the children and talk about what we will be doing today.
</p>
<p>
9.30 am – Snack cafe / focussed activities / free flow
The children choose which activities they would like to take part in. There is always lots to choose from, such as messy painting, sand, water, quieter table top activities like jigsaws, the role play area or small world and construction area. Our staff play alongside the children and work to observe, assess and develop their learning. They also lead focussed activities during this time which enable their key children to learn and achieve their next steps.
The snack cafe is open throughout the morning so children can choose when they would like a break for snack. Usually we have fruit and a biscuit to eat with either milk or water. The children are encouraged to pour their own drink and to tidy up after themselves.
</p>
<p>
11 am – Tidy up time
</p>
<p>

11.15 am – Garden time
We have a lovely garden which we use every day, whatever the weather. There is usually lots of games to take part in, like ‘What’s the time Mr Wolf’, ball games and circle games.
</p>
<p>
11.45 am – Circle time
We play all sorts of games at circle time, that involve letters and sounds, counting, colours etc. this is usually followed by a story and singing the Goodbye song.
</p>
                <ul class="list-unstyled para-list">
                  <li><i class="fa fa-check" aria-hidden="true"></i>Key Workers</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>Early Years Foundation Stage</li>
                  
                </ul>
                <ul class="list-unstyled para-list">
                  <li><i class="fa fa-check" aria-hidden="true"></i>Sessions 9-12 Every Day</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i>Places For Up To 28 Children</li>
                  
                </ul>
              </div>
            </div>
            
          </div>
        </div>
          
      </div>
    </section>



<app-footer></app-footer>